*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	background-color: #FFF;
	color: #555;
	font-family: 'Lato','Arial', sans-serif;
	font-size: 20px;
	font-weight: 300;
	text-rendering: optimizeLegibility;
}
/*reuseable*/
.row {
	max-width: 1140px;
	margin: 0 auto;
}

section {
	padding: 80px 0;
}
.long-copy{
	width: 70%;
	margin: 0 auto;
	line-height: 145%; /*jarak atas dan bawah antar kalimat paragraf*/
	text-align: justify; /*rata kanan kiri*/
	
}
.box p{
	font-size: 90%;
	line-height: 145%;
}
.icon-big {
	font-size:350%;
	display: block;
	color: #E67E22;
	margin-bottom: 10px;
}
/*heading */
h1 {
	margin-top: 0px;
	margin-bottom: 20px;
	color: #FFF;
	font-size: 240%;
	text-transform: uppercase;
	font-weight: 300;
	word-spacing: 4px; /*jarak kata*/
	letter-spacing: 1px; /*jarak huruf*/
}
h2 {
	text-transform: uppercase;
	font-weight: 300px;
	font-size: 180%;
	text-align: center;
	letter-spacing: 1px;
	margin-bottom: 30px;
}
h2:after{
	content: "";
	display: block;
	height: 2px;
	background-color: #E67E22;
	width: 100px;
	margin: 0 auto;/*posisi tengah objek*/
	margin-top: 30px;
}
h3{
	text-transform: uppercase;
	font-weight: 300;
	font-size: 110%;
	margin-bottom: 15px;
	
}
/*section header*/

header {
	background-image: linear-gradient(rgba(0, 0, 0, 0.7) ,rgba(0, 0, 0, 0.7) ), url(img/hero.jpg); /*backgroud + transparansi*/
	height: 100vh;
	background-position: center; /*posisi bg*/
	background-size: cover; /*full size*/
}

.logo {
	width: 100px;
	height: auto;
	float: left; /*rata kanan atau kiri*/
	margin-top: 20px; /*jarak atas*/
}
.main-nav {
	float: right;
	list-style: none; /*mengihangkan titik list*/

}
.main-nav li {
	display: inline-block;
	margin-left: 40px;
	margin-top: 55px;
}
.main-nav li a {
	color: #FFF;
	text-decoration: none;/*garis bawah hilang*/
	text-transform: uppercase; /*membuat kapital*/
	padding: 8px 0;
	transition: border-bottom 0.3s;
	border-bottom: 2px solid transparent;
	font-size: 90%;
}
.main-nav li a:hover {
	border-bottom: 2px solid #E67E22;
}
.hero-text-box {
	position: absolute; /*objek bebas puisi*/
	top: 50%;
	left: 50%;
	width: 1140px;
	transform: translate(-50%);
}
.btn {
	display: inline-block;
	padding: 10px 30px;
	text-decoration: none;
	transition: 0.3s;
	border: 1px solid #E67E22;
	border-radius: 200px; /*kotak jadi lingkaran*/
	margin-left: 20px;
}
.btn-full{
	color: #FFF;
	background-color: #E67E22
}

.btn-full:hover{
	background-color: #cf6d17;
	color: #FFF;
}

.btn-ghost{
	color: #E67E22;
}

.btn-ghost:hover{
	background-color: #E67E22;
	color: #FFF;
	border: 1px solid #cf6d17;
}
/*section meals*/
.section-meals {
	padding: 0px;
}
.meals-showcase {
	list-style: none;
	width: 100%;
	
	
}
.meals-showcase li {
	display: block;
	float: left;
	width: 25%; /*hasil 100 bagi 4*/
}
.meal-photo {
	width: 100%;
	margin: 0;
	overflow: hidden;
	background-color: #000;
}
.meal-photo img {
	width: 100%;
	height: auto;
	opacity: 0.6;
	transform: scale(1.15); /*ngazoom objek*/
	transition: all 0.5s;
}
.meal-photo img:hover {
	opacity: 1;
	transform: scale(1.05);

}